<!DOCTYPE html>
<html lang="en" ng-app></html>
<head>
  <title>AZT</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.css">
  <link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
  <link rel="stylesheet" href="/css/Site.css">
  <link rel="stylesheet" href="/css/index.css">
</head>
<body>
  <div class="container">
    <div class="cabecera"></div>
    <form>
      <div class="form-group">
        <input placeholder="sd" class="form-control">
      </div>
    </form>
    <div class="cuerpo"></div>
    <div class="pies">
      <div class="notificacion"></div>
      <div class="notificacion"></div>
      <div class="notificacion"></div>
    </div>
  </div>
</body>